@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #e7ceb3;
  --foreground: #ffffff;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link-divider {
  font-size: 12px;
}

.nav-link {
  font-size: 16px;
  transition: font-weight 0.2s ease;
}

.nav-link:hover {
  font-weight: bold;
}
